__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
config.json

.venv/
venv/

build/
dist/
release/
release-public/
release-macos/

data/
debug_screens/
hiddify-app-main/
tg-ws-proxy-main/
*.session
*.sec
*.log

list/report.json
